.mainHeading
{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: bold;
    font-size: 50px;
}

html
{
    scroll-behavior: smooth;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

body
{
    background-color: #3C6E71;
}

.page
{
    width: 1000px;
    background-color: #FFFFFF;
    margin: auto;
    padding: 50px;
     padding-top: 35px;
}

.asian_pacific
{
    color: #c51b8a;
}

.sub_saharan_africa
{
    color:#d95f0e;
}

.poor
{
    color: red;
}

.good
{
    color:green;
}

.main_overview
{
    height: 400px;
    width: 100%;
    opacity: 0.5;
}

#picture1
{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan
{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: "bold";
    color: #000000;
}

#slogantext
{
    font-family: 'Arvo', serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.global_economy_magazine
{
    width: 450px;
    height: 300px;
}

.inspiration_heading
{
font-family: 'Playfair Display', serif;
font-size: 20px;
}

hr.rounded {
    border-top: 8px solid #272932;
    border-radius: 5px;
}

.inspiration_text
{
    font-family: 'Arvo', serif;
    font-size: 18px;
    font-style: normal;
    text-align: justify;
    margin-top: 50px;
}

.inspirator
{
    font-style: italic;
}

.map_container
{
    padding-left: 200px;
    width: 100px;
}

.bubble_container {
    padding-left: 200px;
    width: 100%;
}

.line_charts_container
{
    padding-left: 140px;
    width: 100%;
}

.pure-g 
{
    margin-bottom: 40px;
}

.Topic
{
    font-family: 'Arvo', serif;
    text-align: center;
}

.TopicExplanation
{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 17px;
}
